.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  border-bottom: 1px solid var(--mantine-color-gray-2);
  display: flex;
  gap: var(--mantine-spacing-md);
}

.messagesSection {
  flex: 1;
}
